*{
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
}
.contenedor {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.card {
	width: 200px;
	margin: 20px;
	padding: 20px;
	background-color: #F0E2CC;
	border: 1px solid #E2E8F0;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
}
.card h2 {
	color: #2563EB;
}
.card p {
	color: #555;
}
.btn {
	background-color: #2563EB;
	border: none;
	margin-top: 30px;
	padding: 15px 25px;
	border-radius: 5px;
	font-weight: bold;
	color: whitesmoke;
	font-size: 15px;
	float: right;
	transition: 1s ease all;
}
.btn:hover {
	background-color: #eb2525;
	transition: 1s ease all;
	cursor: pointer;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: coral;
}
.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 64px;
	background-color: chocolate;
	border-radius: 0px 0px 15px 15px;
	box-shadow: rgba(0, 0, 0, 1) 0px 3px 8px;
}
.elemento {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	height: 64px;
	font-weight: bold;
	background-color: chocolate;
	transition: all 1s ease;
	padding-left: 10px;
	padding-right: 10px;
}
.elemento:hover {
	transition: all 1s ease;
	background-color: #eb2525;
}
@media (max-width: 576px){
	.contenedor {
			display: flex;
			flex-direction: column;
			align-items: center;
	}
	.articulo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.btn {
		padding: 10px 15px;
		float: left;
	}
	.elemento {	
		padding-left: 10px;
		padding-right: 10px;
	}
	.card {
		width: 150px;
	}
	
}
@media (min-width: 577px max-width: 768px){
	.elemento {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (min-width: 769px max-width: 992px){
	.elemento {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (min-width: 993px){
	.elemento {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (max-width: 321px){
	.elemento{
		font-size: 20px;
	}
}
.imagen {
	width: 200px;
	height: 200px;
}
//max width 576
//min width 577 max width 768
//min width 769 max width 992
//min width 993